html {
    background-color: aliceblue;
}

textarea, div[id="output"] {
    width: 500px;
    height: 800px;
    font-size: 20px;
    margin: auto;
    background-color:rgb(150, 150, 150);
    padding: 12px 20px;
    border: 10px solid rgb(76, 76, 77);
}

textarea {
    resize: none;
    float: left;
}

div[id="output"] {
    float: right;
}

.inCol, .inRaw {
    display: flex;
}

.inCol
{
    flex-direction: column;
}

.inRaw
{
    flex-direction: raw;
}

button[id="download"], button[id="upload"], input[id="download-filename"], input[id="upload-file"] {
    margin-top: 10px;
}

#containerInput {
    float: left;
}

#containerOutput {
    float: right;
}

.justify-right {
    justify-content: right;
}